{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{- .Scratch.Set "layout" "layouts/page/single.html" -}}

  <div class="flex mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <h1 class="f1">
        {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">

        {{ replace .Content "#split#" "" | safeHTML}}
      </div>
    </article>
  </div>
{{ end }}
