{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{- .Scratch.Set "layout" "policies/single.html" -}}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <h1 class="f1 mb0">
        {{ .Title }}
        </h1>
        <p class="mt0"><i>Last updated on {{ .Params.lastmod | time.Format (default "January 2, 2006" .Site.Params.date_format) }} </i></p>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ replace .Content "#split#" "" | safeHTML}}
      </div>
    </article>
  </div>
{{ end }}
