<div>
  <div id="wrapper">
    <div id="form-header">
      Drop me a line. It may change your business...
    </div>
    <div id="form-wrapper">
      <form action="https://formspree.io/alfred@ourmaninindia.com" method="POST" class="form">
        <label>
          <input id="email" type="text" name="_replyto" required="true" placeholder="Your email address">
        </label>
        <label>
          <textarea name="message" required="true" placeholder="Your message"></textarea>
        </label>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
