<div class="flex-l justify-between">
<p>
“Aranya”  <br>
286 Boa Viagem Road  <br>
Naikavaddo, Calangute, Goa 403 516<br>  
India
</p>
<div>
	<ul class='contact-list'>
		<li>
			<i class="fa fa-phone"></i> or <i class="fa fa-whatsapp"></i>&nbsp;&nbsp;&nbsp;+91 9923752407 (India) 
		</li>
		<li>
			<i class="fa fa-phone"></i> or <i class="fa fa-whatsapp"></i>&nbsp;&nbsp;&nbsp;+31 6 11788443 (the Netherlands)
		</li>
		<li>
			<i class="fa fa-envelope mail"></i>&nbsp;&nbsp;&nbsp;<a href="mailto:alfred+tuinman@ourmaninindia.com" target="_blank">alfred@ourmaninindia.com</a> 
		</li>
		<li>
			<i class="fa fa-linkedin linkedin"></i>&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/ourmaninindia/" target="_blank">ourmaninindia</a> 
		</li>
		<li>	
			<i class="fa fa-facebook-square facebook"></i>&nbsp;&nbsp;&nbsp;ourmaninindia  
		</li>
		<li>
			<i class="fa fa-skype skype"></i>&nbsp;&nbsp;&nbsp;relinker2
		</li>
	</ul>
</div>
</div>
<img src="QR.png" alt="QR code" class="QR"> 