</div>

<section id="leadership" class="section">
	<div class="container">
		<h2 class="header">My competencies</h2>
		<div class="main">
			<div class="leftSide competencies">
				<div class="secondItem "> 
					<h3>Competencies</h3>
					<p>
						<b>Navigates networks</b>
						- Effectively building formal and informal
						relationships inside and outside the
						organization. 
					</p>
					<p>
						<b>Aligns execution</b>
						- Planning and prioritizing work to meet
						commitments aligned with organizational
						goals.
					</p>
					<p>
						<b>Balances stakeholders</b> -
						Anticipating and appreciating the varying
						needs of all parties invested in outcomes.
					</p>
					<p>
						<b>Manages conflict</b> -
						Handling conflict situations effectively,
						with a minimum of noise.
					</p>
					<p>
						<b>Cultivates innovation</b> -
						Creating new and better ways for the
						organization to be successful.
					</p>
				</div>
			</div>
			
			<div class="rightSide drivers" >
				<div class="thirdItem "> 
					<h3>Drivers</h3>
					<p>
						<b>Balance</b> -
						Motivated to integrate work and life in a
						sustainable, enjoyable, and meaningful
						way.
					</p>
					<p>
						<b>Collaboration</b> -
						A preference for work-related
						interdependence, group decision making,
						and pursuing shared goals.
					</p>
					<p>
						<b>Power</b> - Motivated to seek influence, recognition,
						and increasing levels of responsibility.
					</p>
					<p>
						<b>Challange</b> - 
						Motivated by achievement in the face of
						tough obstacles.
					</p>
					<p>
						<b>Structure</b> - 
						A preference for process-oriented,
						structured, and stable work environments.
					</p>
					<p>
						<b>Independence</b> -
						Prefers an entrepreneurial approach and
						limited organizational constraints.
					</p>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="leftSide traits">
				<div class="secondItem ">  
					<h3>Traits</h3>
					<p>
						<b>Social Leadership</b> -
						Influence, collaboration, and interpersonal
						awareness that advances collective goals.
					</p>
					<p>
						<b>Agility</b> - Adaptability, curiosity, and innovative
						thinking in conditions of ambiguity and
						risk.
					</p>
					<p><b>Energy</b> -
						Vitality, resilience, and drive for
						achievement in spite of obstacles.
					</p>
				</div>
			</div>
			<div class="rightSide experiences">
				<div class="thirdItem ">   
					<h3>Experiences</h3>
					<p>Developmental experiences meet most of the following criteria:
						<ul>
							<li>Success is not guaranteed</li>
							<li>Responsibility rests with you</li>
							<li>Working with new people or a lot of people is required</li>
							<li>Stakes and pressure are high</li>
							<li>Influencing without authority is required</li>
							<li>Differs from what you’ve done before</li>
							<li>Your work will be under scrutiny</li>
							<li>The work represents new territory for the organization</li>
							<li>The work requires you to be resourceful</li>
							<li>Tests your ability to deal with complexity and ambiguity</li>
							<li>Involves some hurdlesummary</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="main-content-wrap">