{{define "main"}}
{{- .Scratch.Set "layout" "layouts/search/single.html" -}}

<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
	<form id="search">
		<div class="form-group form-group-lg">
			<input type="text" class="form-control" id="google-search" placeholder="Enter search term" />
			<input id='submit' type="submit" value="Submit">
		</div>
	</form>
</article>


<div class="container tagcloud">
    {{ if ne (len $.Site.Taxonomies.tags) 0 }}
      {{ $largestFontSize := 1.4 }}
      {{ $smallestFontSize := 1.0 }}
      {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
      {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
      {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
      {{ $spread := sub $max $min }}
      {{ $fontStep := div $fontSpread $spread }}
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
          {{ $tagCount := len $taxonomy.Pages }}
          {{ $currentFontSize := (add $smallestFontSize (mul (sub $tagCount $min) $fontStep) ) }}
          {{ $weigth := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
          {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth)) }}
            <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}" 
            class="tagcloud-item" style="font-size: {{ $currentFontSize }}rem;">
              {{ $name }}<sup>{{ $tagCount }}</sup>
            </a>
        {{ end }}
    {{ end }}
</div>


<script src="/js/wordcloud2.js"></script>
<script>

	document.getElementById('submit').addEventListener('click',(e) => {

		let text = document.getElementById('google-search').value;

		if (text.length > 0) 
			window.open('https://www.google.com/search?q=' + text + '+site:' + '{{ .Site.BaseURL | absLangURL }}' );
	})

</script>
{{ end }}